@keyframes opacity-plate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}
@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes opacity-loader {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
    color: #9356DC;
  }
  50% {
    color: #FF79DA;
  }
  100% {
    transform: rotate(360deg);
    color: #9356DC;
  }
}
@font-face {
  font-family: "Shrikhand";
  src: url(https://fonts.google.com/specimen/Shrikhand?query=shri);
  font-family: "Roboto";
  src: url(https://fonts.google.com/specimen/Roboto?query=robo);
}
.btn-order {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.btn-order p {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #9356DC;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 10px 15px rgb(126, 126, 126);
  transition: all 1200ms;
}
.btn-order p:hover {
  background: linear-gradient(#fcaee6, #FF79DA);
}

.btn-explore {
  color: white;
  display: flex;
  justify-content: center;
}
.btn-explore p {
  width: 220px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #9356DC;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 10px 15px rgb(126, 126, 126);
  transition: all 1200ms;
}
.btn-explore p:hover {
  background: linear-gradient(#fcaee6, #FF79DA);
}

ul.list {
  list-style-type: none;
}

ul.plate {
  list-style-type: none;
  padding: 0;
}

li.presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  margin: 3%;
  overflow: hidden;
  animation: appearence 2s ease;
}
li.presentation .cooking {
  margin-left: 20px;
  width: 90%;
}
li.presentation .cooking:hover {
  width: 75%;
}
li.presentation .cooking h3 {
  font-size: 15px;
  margin-bottom: 0px;
}
li.presentation .cooking p {
  width: 70%;
  font-size: 12px;
}
li.presentation .cooking:hover p {
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
li.presentation .price {
  margin-top: 25px;
  font-size: 14px;
  font-weight: bold;
  width: 10%;
}
li.presentation .check {
  margin-right: -150px;
  background: #99E2D0;
  color: white;
  width: 15%;
  border-radius: 0 20px 20px 0;
  padding: 5px 0;
  transition: margin-right 500ms;
}
li.presentation .checked {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: 20px;
}
li.presentation:hover .check {
  margin-right: 0px;
}
li.presentation:hover .checked {
  animation: rotate 0.8s;
}

li.starter-1, li.plate-1, li.dessert-1 {
  margin-top: 30px;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

main {
  background-color: rgb(235, 235, 235);
}

#loader {
  z-index: 1;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: white;
  animation: opacity-loader 5s;
  animation-fill-mode: forwards;
}
#loader .fa-loader {
  z-index: 2;
  position: absolute;
  height: 150px;
  width: 150px;
  transform: loading 4s;
}

#header {
  width: 100%;
}
#header__logo {
  display: flex;
  justify-content: center;
}
#header__logo img {
  width: 150px;
  height: auto;
  margin: 15px;
  margin-top: 30px;
}
#header__restaurant {
  display: flex;
  justify-content: center;
  background-color: rgb(235, 235, 235);
}

.fa-arrow-left {
  color: black;
  margin-top: 35px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(71, 71, 71);
}
footer .fa-utensils, footer .fa-handshake-angle {
  padding: 0 10px 0 0;
}
footer ul {
  margin: 0;
  padding-bottom: 16px;
}
footer ul li a {
  color: white;
}

.footer__heading {
  font-family: "Shrikhand", sans-serif;
  color: white;
  margin: 0;
  padding: 15px;
}

@media screen and (min-width: 780px) {
  footer .footer__heading {
    display: flex;
    justify-content: center;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
#location {
  background-color: rgb(223, 223, 223);
}
#location form {
  display: flex;
  justify-content: center;
}

.fa-location-dot {
  color: black;
  position: absolute;
  margin-top: 30px;
  margin-left: -180px;
}

#search {
  padding: 12px 0 12px 30px;
}
#search input {
  border: none;
  background-color: rgb(223, 223, 223);
}
#search input::placeholder {
  color: black;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

#introduction {
  background-color: rgb(235, 235, 235);
  text-align: center;
  padding: 0 30px 30px 30px;
}

h1, h2 {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 20px;
  padding-top: 30px;
}

#introduction h1 {
  margin: 0px 30px;
}

#functioning, #restaurants {
  margin-left: 15px;
}

.number p {
  position: absolute;
  color: white;
  margin: 25px 0 0 15px;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 20px;
  padding: 5px;
  width: 15px;
}

a {
  text-decoration: none;
}

.fa-mobile-screen-button, .fa-list-ul, .fa-store {
  color: rgb(223, 223, 223);
  padding: 15px;
}

#choose a p, #compose a p, #eat a p {
  color: black;
  margin: 20px;
  padding: 15px;
  border: 1px solid rgb(250, 250, 250);
  border-radius: 30px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 10px 15px rgb(126, 126, 126);
  transition: all 600ms;
}
#choose a p:hover, #compose a p:hover, #eat a p:hover {
  background-color: #FF79DA;
}
#choose a p:hover .fa-solid, #compose a p:hover .fa-solid, #eat a p:hover .fa-solid {
  color: #9356DC;
}

@media screen and (min-width: 1040px) {
  #functioning article {
    display: flex;
  }
  #functioning article #first, #functioning article #second, #functioning article #third {
    width: 33%;
  }
  .number {
    margin-top: 17px;
  }
}
#restaurants {
  margin: 0;
  padding-left: 15px;
  padding-bottom: 20px;
  background-color: rgb(231, 231, 231);
}

#restaurant__cards ul {
  padding-left: 0;
}

.restaurant__card {
  position: relative;
  width: 96%;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  margin: 20px 2%;
  box-shadow: 0px 10px 15px rgb(126, 126, 126);
}
.restaurant__card img {
  object-fit: cover;
  width: 100%;
  height: 170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.description {
  margin-left: 10px;
}
.description h2 {
  font-size: 15px;
  color: black;
  font-weight: bold;
}
.description p {
  color: black;
}

.restaurant, .title {
  display: flex;
  justify-content: space-between;
}
.restaurant .btn__like .heart-color, .title .btn__like .heart-color {
  visibility: hidden;
}
.restaurant .btn__like .heart-empty, .title .btn__like .heart-empty {
  margin: 15px;
  position: relative;
  font-size: 30px;
  color: black;
}
.restaurant .btn__like:hover .heart-empty, .title .btn__like:hover .heart-empty {
  transform: scale(0);
}
.restaurant .btn__like:hover .heart-color, .title .btn__like:hover .heart-color {
  visibility: visible;
  margin: 15px;
  position: absolute;
  font-size: 30px;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(1);
}

.new__restaurant {
  position: absolute;
  top: 15px;
  right: 15px;
  justify-content: center;
  color: green;
  background-color: #99E2D0;
  width: 75px;
  padding: 1px;
}

@media screen and (min-width: 1040px) {
  .list {
    display: flex;
  }
}
main {
  display: flex;
  flex-direction: column;
}

.restaurant__picture img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.restaurant__heading {
  font-family: "Shrikhand", sans-serif;
  padding: 5px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(235, 235, 235);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: -20px;
}
.menu article .plate .starter-1, .menu article .plate .plate-1, .menu article .plate .dessert-1 {
  opacity: 0;
  animation: opacity-plate 600ms 200ms;
  animation-fill-mode: forwards;
}
.menu article .plate .starter-2, .menu article .plate .plate-2, .menu article .plate .dessert-2 {
  opacity: 0;
  animation: opacity-plate 600ms 400ms;
  animation-fill-mode: forwards;
}
.menu article .plate .starter-3, .menu article .plate .plate-3, .menu article .plate .dessert-3 {
  opacity: 0;
  animation: opacity-plate 600ms 600ms;
  animation-fill-mode: forwards;
}
.menu article .plate .starter-4, .menu article .plate .plate-4, .menu article .plate .dessert-4 {
  opacity: 0;
  animation: opacity-plate 600ms 800ms;
  animation-fill-mode: forwards;
}

h2.type {
  text-transform: uppercase;
  color: black;
  margin-left: 15px;
  padding-bottom: 10px;
  font-size: 15px;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
}

@media screen and (min-width: 1040px) {
  .menu {
    flex-direction: row;
  }
  .menu article {
    width: 33%;
  }
}

/*# sourceMappingURL=style.css.map */
