#introduction {
    background-color: $grey-light;
    text-align: center;
    padding: 0 30px 30px 30px;
}

h1, h2 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 20px;
    padding-top: 30px;
}

#introduction h1 {
    margin: 0px 30px;
}