.menu {
    display:flex;
    flex-direction: column;
    position:absolute;
    width: 100%;
    background-color: $grey-light;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 200px;
    article .plate .starter-1, article .plate .plate-1, article .plate .dessert-1{
        opacity: 0;
        animation: opacity-plate 600ms 200ms;
        animation-fill-mode: forwards;
    }
    article .plate .starter-2, article .plate .plate-2, article .plate .dessert-2{
        opacity: 0;
        animation: opacity-plate 600ms 400ms;
        animation-fill-mode: forwards;
    }
    article .plate .starter-3, article .plate .plate-3, article .plate .dessert-3{
        opacity: 0;
        animation: opacity-plate 600ms 600ms;
        animation-fill-mode: forwards;
    }
}

h2.type {
    text-transform: uppercase;
    color: black;
    margin-left:15px;
    font-size:15px;
    border-bottom: 2px solid $tertiary-color;
}



