.menu {
    display:flex;
    flex-direction: column;
    position:absolute;
    width: 100%;
    background-color: $grey-light;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 200px;
}

h2.type {
    text-transform: uppercase;
    color: black;
    margin-left:15px;
    font-size:15px;
    border-bottom: 2px solid $tertiary-color;
}



