footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(71, 71, 71);
    .fa-utensils, .fa-handshake-angle {
        padding: 0 10px 0 0;
    }
    ul {
        list-style-type: none;
        margin:0;
        padding-bottom: 16px;
        li a {
            color: white;
        }
    }
}

.footer {
    &__heading {
        font-family: 'Shrikhand', sans-serif;
        color: white;
        margin:0;
        padding: 15px;
    }
}

@media screen and (min-width: 780px) {
    footer ul {
        display: flex;
        justify-content: space-around;
    }
    .footer {
        &__heading {
            display: flex;
            justify-content: center;
        }
    }
}
