ul.plate {
    list-style-type: none;
    padding: 0;
}

li.presentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    margin: 3%;
    overflow:hidden;
    animation: appearence 2s ease;
    .cooking {
        margin-left: 20px;
        width: 90%;
        &:hover {
            width: 75%;
        }
        h3 {
            font-size: 15px;
            margin-bottom: 0px;
        }
         p {
        width: auto;
        font-size: 12px;
        }
        &:hover {
            p {
                width: 70%;
                white-space: nowrap;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
    .price {
        margin-top: 25px;
        font-size: 14px;
        font-weight: bold;
        width: 10%;
    }
    .check {
        margin-right: -150px;
        background: $tertiary-color;
        color: white;
        width:15%;
        border-radius: 0 20px 20px 0;
        padding: 5px 0;
        transition: margin-right 500ms;
    }
    .checked {
        display:flex;
        justify-content: center;
        font-size: 20px;
        margin: 20px;
    }
    &:hover {
        .check{
            margin-right: 0px;
        }
        .checked{
            animation: rotate 0.8s;
        }
    }
}

li.starter-1, li.plate-1, li.dessert-1 {
    margin-top: 30px;
}
