@font-face {
    font-family: 'Shrikhand';
    src: url(https://fonts.google.com/specimen/Shrikhand?query=shri);
    font-family: 'Roboto';
    src: url(https://fonts.google.com/specimen/Roboto?query=robo);
   }